<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgh.korquiz.mappers.QuizHistoryMapper">

    <insert id="insertQuizHistory"
            useGeneratedKeys="true"
            keyColumn="history_id"
            keyProperty="historyId">
        INSERT INTO `kor-quiz`.`quiz_histories` (user_id, quiz_code, user_answer, is_correct, solved_at)
        VALUES (#{quizHistory.userId}, #{quizHistory.quizCode}, #{quizHistory.userAnswer},
                #{quizHistory.isCorrect}, #{quizHistory.solvedAt})
    </insert>
</mapper>