<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgh.korquiz.mappers.UserMapper">

    <insert id="insertUser"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO `kor-quiz`.`users`
        (`email`,`provider`, `provider_id`,
         `profile_img`, `nickname`, `birth`,
         `gender`, `term_agreed_at`,
         `is_admin`, `is_deleted`,`is_suspended`,
         `created_at`, `modified_at`)
        VALUES (#{user.email}, #{user.provider}, #{user.providerId},
                #{user.profileImg}, #{user.nickname}, #{user.birth},
                #{user.gender},  #{user.termAgreedAt},
                #{user.isAdmin},  #{user.isDeleted}, #{user.isSuspended},
                #{user.createdAt}, #{user.modifiedAt})
    </insert>

    <select id="selectUserByProviderId" resultType="com.kgh.korquiz.entities.UserEntity">
        SELECT `id` AS 'id',
               `email` AS 'email',
               `provider` AS 'provider',
               `provider_id` AS 'providerId',
               `profile_img` AS 'profileImg',
               `nickname` AS 'nickname',
               `birth` AS 'birth',
               `gender` AS 'gender',
               `term_agreed_at` AS 'termAgreedAt',
               `is_admin` AS 'isAdmin',
               `is_deleted` AS 'isDeleted',
               `is_suspended` AS 'isSuspended',
               `created_at` AS 'createdAt',
               `modified_at` AS 'modifiedAt'
        FROM `kor-quiz`.`users`
        WHERE `provider` = #{provider}
          AND `provider_id` = #{providerId}
    </select>

    <select id="selectUserById" resultType="com.kgh.korquiz.entities.UserEntity">
        SELECT `id` AS 'id',
               `email` AS 'email',
               `provider` AS 'provider',
               `provider_id` AS 'providerId',
               `profile_img` AS 'profileImg',
               `nickname` AS 'nickname',
               `birth` AS 'birth',
               `gender` AS 'gender',
               `term_agreed_at` AS 'termAgreedAt',
               `is_admin` AS 'isAdmin',
               `is_deleted` AS 'isDeleted',
               `is_suspended` AS 'isSuspended',
               `created_at` AS 'createdAt',
               `modified_at` AS 'modifiedAt'
        FROM `kor-quiz`.`users`
        WHERE `id` = #{id}
    </select>
</mapper>