@charset "UTF-8";

@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2107@1.1/Hanna.css');

@import "common/common-color.css";
@import "common/object/object-button.css";
@import "common/object/object-check.css";
@import "common/object/object-dialog.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Hanna', sans-serif;

    width: 100%;
    height: 100%;
    background-image: url('../images/overlay-traditional-pattern.jpg');
    background-repeat: repeat;
    background-size: 25rem 25rem;
    background-attachment: scroll;
    background-position: top left;
    position: relative;
    background-color: var(--base-bg);
    color: var(--text-dark);

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

a[href] {
    text-decoration: none;
    color: initial;
}

button, input, select, textarea {
    background-color: initial;
    border: none;
    color: inherit;
    font: inherit;
    letter-spacing: initial;
    line-height: initial;
    margin: initial;
    outline: initial;
    padding: initial;
    padding-block: initial;
    padding-inline: initial;
    text-align: initial;
    text-indent: initial;
    text-rendering: initial;
    text-shadow: initial;
    text-transform: initial;
    word-spacing: initial;
}

h1, h2, h3, h4, h5, h6 {
    font: inherit;
    margin-block: initial;
    margin-inline: initial;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: var(--overlay-bg-color);
    z-index: 0;
}

#main-card {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    margin: auto;

    padding: 2.25rem;
    width: 40rem;
    border: 0.1875rem solid var(--border-brown);

    background-color: var(--base-bg);
    background-image: url('../images/card-hanji-texture.png');
    background-blend-mode: multiply;
    background-size: cover, auto;
    color: var(--text-dark);
    z-index: 1;
}

.night-mode #main-card {
    background-color: #0000004D
}

.title {
    font-size: 2.125rem;
    font-weight: 600;
    color: var(--text-dark);
}


input[type="date"],
input[type="text"] {
    font: inherit;
    width: 100%;
    padding: 0.4375rem 0.75rem;
    font-size: 1.125rem;
    font-weight: 500;
    border: 0.0625rem solid var(--border-brown);
    border-radius: 0.5rem;
    outline: none;
    background-color: var(--input-bg-color);
    color: var(--text-dark);
}

input[type="date"]:focus,
input[type="text"]:focus {
    border-color: var(--border-focus);
    outline: 0.125rem solid var(--border-focus);
    box-shadow: 0 0 0 0.125rem var(--shadow-focus);
}

input[type="date"][data-state-invalid],
input[type="text"][data-state-invalid] {
    border: 0.0625rem solid var(--border-invalid);
    outline: 0.125rem solid var(--border-invalid);
}

input[type="date"][data-state-valid],
input[type="text"][data-state-valid] {
    border: 0.0625rem solid var(--border-valid);
    outline: 0.125rem solid var(--border-valid);
}

textarea {
    font: inherit;
    padding: 0.5rem 0.5rem;
    width: 100%;
    border: 0.0625rem solid var(--border-brown);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    outline: none;
    background-color: var(--input-bg-color);
    color: var(--text-dark);
    resize: none;
    overflow: auto;

    scrollbar-color: var(--border-brown) var(--base-bg);
}
textarea[data-state-invalid] {
    border: 0.0625rem solid var(--border-invalid);
    outline: 0.125rem solid var(--border-invalid);
}

.night-toggle {
    width: 8rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 8;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
}

.-stretch {
    flex-shrink: 1;
    flex-grow: 1;
}