@charset "UTF-8";

#main-card.index {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
}

#main-card.index > .title {
    margin-bottom: 1rem;
}

#main-card.index > .-object-button {
    width: 100%;
}