<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>한글 단어 퀴즈</title>
    <link href="/assets/styles/common.css" rel="stylesheet" type="text/css">
    <link href="/quiz/assets/styles/index.css" rel="stylesheet" type="text/css">
    <script src="/assets/scripts/common.js" type="text/javascript"></script>
    <script defer src="/assets/scripts/dialog.js" type="text/javascript"></script>
    <script defer src="/assets/scripts/night-mode.js" type="text/javascript"></script>
</head>
<body>
<div id="overlay"></div>
<div id="main-card" class="index">
    <h1 class="title">한글 단어 퀴즈</h1>

    <!-- 관리자용 버튼 -->
    <div th:if="${session.signedUser != null && session.signedUser.isAdmin()}" class="button-container">
        <a class="-object-button --brown --symbol-1" href="/quiz/register">문제 추가</a>
        <a class="-object-button --blue --symbol-2" href="/user/list">회원 확인</a>
    </div>

    <!-- 전체 회원용 버튼 -->
    <div th:if="${session.signedUser != null}" class="button-container">
        <a class="-object-button --green --symbol-3" href="/quiz/setting">문제 풀기</a>
        <a class="-object-button --gold --symbol-4" href="/quiz/history">이력 확인</a>
    </div>
</div>
</body>
</html>
