<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>한글 단어 퀴즈</title>
    <link href="/assets/styles/common.css" rel="stylesheet" type="text/css">
    <link href="/quiz/assets/styles/setting.css" rel="stylesheet" type="text/css">
    <link href="/quiz/assets/styles/solve.css" rel="stylesheet" type="text/css">
    <script src="/assets/scripts/common.js" type="text/javascript"></script>
    <script defer src="/assets/scripts/dialog.js" type="text/javascript"></script>
    <script defer src="/assets/scripts/night-mode.js" type="text/javascript"></script>
    <script defer src="/quiz/assets/scripts/solve.js" type="text/javascript"></script>
    <script defer src="/quiz/assets/scripts/setting.js" type="text/javascript"></script>
</head>
<body>
<div id="overlay"></div>
<div id="main-card" class="solve">
    <h1 class="title">한글 단어 퀴즈</h1>

    <form novalidate id="quizSolveForm">
        <input type="hidden" name="code" th:value="${quiz.code}">
        <div class="quiz-header">
            <span class="quiz-meta" th:text="${quiz.wordGrade}"></span>
            <span class="quiz-meta" th:text="${quiz.partOfSpeach}"></span>

            <div class="-stretch"></div>

            <label class="select-wrapper">
                <span class="select-type">언어 선택</span>
                <select class="select" name="languageCode">
                    <option value="1">영어</option>
                    <option value="2">일본어</option>
                    <option value="3">프랑스어</option>
                    <option value="4">스페인어</option>
                    <option value="5">아랍어</option>
                    <option value="6">몽골어</option>
                    <option value="7">베트남어</option>
                    <option value="8">타이어</option>
                    <option value="9">인도네시아어</option>
                    <option value="10">러시아어</option>
                    <option value="11">중국어</option>
                </select>
            </label>

            <label class="toggle-switch">
                <input type="checkbox" id="translateToggle" name="translateToggle"/>
                <span class="slider">
                    <span class="toggle-text on">ON</span>
                    <span class="toggle-text off">OFF</span>
                    <span class="knob"></span>
                </span>
            </label>
        </div>
        <div class="meanings-wrapper" data-state-visible>
            <div class="meaning" th:each="meaning : ${meanings}">
                <span class="lang" th:text="${meaning.languageName} + ' [' + ${meaning.orderNo} + ']'"></span>
                <p class="def" th:text="${meaning.definition}"></p>
            </div>
        </div>

        <div class="meanings-wrapper translation"></div>

        <div class="answer-area" data-state-visible>
            <label class="-stretch">
                <input required autocomplete="off" type="text" name="answer" id="userAnswer"
                       placeholder="정답을 입력해주세요." th:pattern="${T(com.kgh.korquiz.regexes.QuizRegex).answer.pattern}"/>
            </label>
            <button type="submit" class="-object-button --green">제출하기</button>
        </div>
    </form>

    <div id="resultArea">
        <span class="result-status correct">정답입니다!</span>
        <!-- <span class="result-status incorrect">오답입니다</span> -->
        <div class="result-grid">
            <div class="result-column">
                <span class="result-label">입력값</span>
                <span class="result-value">행복하다</span>
            </div>
            <div class="result-column">
                <span class="result-label">정답</span>
                <span class="result-value">기쁘다</span>
            </div>
        </div>

        <div class="result-footer">
            <a href="#" target="_blank" rel="noopener" class="dict-link">정답 단어 상세 보기</a>
        </div>
    </div>

    <form id="quizSettingForm">
        <div class="filter-wrapper">
            <h3 class="filter-type">난이도 선택</h3>
            <div class="filter">
                <label>
                    <input type="radio" name="wordGrade" value="" checked>
                    <span>전체</span>
                </label>
                <label>
                    <input type="radio" name="wordGrade" value="초급">
                    <span>초급</span>
                </label>
                <label>
                    <input type="radio" name="wordGrade" value="중급">
                    <span>중급</span>
                </label>
                <label>
                    <input type="radio" name="wordGrade" value="고급">
                    <span>고급</span>
                </label>
                <label>
                    <input type="radio" name="wordGrade" value="미정">
                    <span>미정</span>
                </label>
            </div>

            <h3 class="filter-type">품사 선택</h3>
            <div class="filter">
                <label>
                    <input type="radio" name="partOfSpeach" value="" checked>
                    <span>전체</span>
                </label>
                <label>
                    <input type="radio" name="partOfSpeach" value="명사">
                    <span>명사</span>
                </label>
                <label>
                    <input type="radio" name="partOfSpeach" value="형용사">
                    <span>형용사</span>
                </label>
                <label>
                    <input type="radio" name="partOfSpeach" value="부사">
                    <span>부사</span>
                </label>
            </div>
        </div>
        <button type="submit" class="-object-button --green">문제 출제</button>
    </form>
</div>
</body>
</html>