<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>한글 단어 퀴즈</title>
    <link href="/assets/styles/common.css" rel="stylesheet" type="text/css">
    <link href="/home/assets/styles/index.css" rel="stylesheet" type="text/css">
    <script src="/assets/scripts/common.js" type="text/javascript"></script>
    <script defer src="/assets/scripts/dialog.js" type="text/javascript"></script>
    <script defer src="/assets/scripts/night-mode.js" type="text/javascript"></script>
</head>
<body>
<div id="overlay"></div>
<div id="main-card" class="index">
    <h1 class="title">환영합니다! 🇰🇷 단어 퀴즈</h1>

    <!-- ✅ Google 로그인 버튼 -->
    <a href="/oauth2/authorization/google" class="-object-button --symbol-google --light">
        Google 계정으로 로그인
    </a>
</div>
</body>
</html>
